:root {
  --deep-gb-color: #491974;
  --faded-gb-color: rgba(73, 25, 116, 0.5);
  --text-font: "poppins", Helvetica, sans-serif;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --active: yellow;
  --border: 1px solid lightgray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  color: var(--neutral-black);
}

header,
main,
footer {
  max-width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: inherit;
  color: var(--deep-gb-color);
  text-align: center;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
  font-size: smaller;
}

header {
  background-color: var(--deep-gb-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem 8rem;
}

header img {
  background-color: yellow;
  border-radius: 5px;
}

nav {
  width: 25rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--neutral-white);
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 20px;
  height: auto;
}

.hero {
  position: relative;
  margin-top: 10px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}


h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  color: var(--neutral-white);
}

.hero article {
  position: absolute;
  bottom: 8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: var(--faded-gb-color);
  padding: 20px 0;
  border-radius: 10px;
}

.hero article img {
  float: right;
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}


.active {
  color: var(--active);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.contact{
  text-align: center;
  color: var(--deep-gb-color);
  /* background-color: rgb(18, 19, 18); */
  font-size: 0.7rem;
}

.contact h1{
  color: var(--deep-gb-color);
  position: inherit;
  font-size: 1.5rem;
  
}

.contact :nth-child(4){
  margin-bottom: 1rem;
}

.container {
  display: flex;
  gap: 2rem;
  height: 350px;
}

.map{
  width:45%;
  height: 100%;
}

.get_contact{
  width: 33%;
  height: 100%;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  height: 100%;
}

.personal_details{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  align-items:center;
  justify-content: center;
}

.personal_details div{
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.radio{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
}

.radio p{
  padding: 0;
  margin: 0;
  width: 50px;
  font-size: 0.6rem;
}

.radio_select{
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;
}

.radio_select div{
  display: flex;
  gap: 3px;
}

.radio_select input, .subscribe input{
  width:auto;
}

.message_purpose{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.message_purpose textarea{
  width: 17rem;
  border: var(--border);
}

.subscribe{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width:110%;
}

.wide_button{
  width: 100%;
  padding: 0.5rem;
}


input{
    padding: 10px;
    border: var(--border);
    width: 200px;
    border-radius: 3px;
}

button{
    padding: 8px;
    background-color: var(--deep-gb-color);
    font-family: inherit;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.wrap-img p{
  /* margin-right: 0 ; */
  /* background-color: aqua; */
}

.wrap-img img {
  width: 200px;
  padding: 20px 0;
}


.boxes{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.boxes::-webkit-scrollbar{
  display: none;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 200px;
}

.box img{
  border-radius: 5px;
}

.box p{
  margin: 0;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-align: center;
  background-color: var(--deep-gb-color);
  color: var(--neutral-white);
}

footer nav{
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-left: 7rem;
}
