:root {
  --deep-gb-color: #491974;
  --faded-gb-color: rgba(73, 25, 116, 0.5);
  --text-font: "poppins", Helvetica, sans-serif;
  --neutral-black: #000000;
  --neutral-white: #ffffff;
  --active: yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--text-font);
  color: var(--neutral-black);
}

header,
main,
footer {
  max-width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: inherit;
  color: var(--deep-gb-color);
  text-align: center;
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
  font-size: smaller;
}

header {
  background-color: var(--deep-gb-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 1rem 8rem;
}

header img {
  background-color: yellow;
  border-radius: 5px;
}

nav {
  width: 25rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--neutral-white);
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 20px;
  height: auto;
}

.hero {
  position: relative;
  margin-top: 10px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  color: var(--neutral-white);
}

.hero article {
  position: absolute;
  bottom: 8rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: var(--faded-gb-color);
  padding: 20px 0;
  border-radius: 10px;
}

.hero article img {
  float: right;
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
}

.active {
  color: var(--active);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.wrap-img {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.wrap-img p{
  /* margin-right: 0 ; */
  /* background-color: aqua; */
}

.wrap-img img {
  width: 200px;
  padding: 20px 0;
}


.boxes{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.boxes::-webkit-scrollbar{
  display: none;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-width: 200px;
}

.box img{
  border-radius: 5px;
}

.box p{
  margin: 0;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  text-align: center;
  background-color: var(--deep-gb-color);
  color: var(--neutral-white);
}

footer nav{
  width: 120px;
  display: flex;
  justify-content: space-around;
  margin-left: 7rem;
}
