main {
  max-width: 840px;
  box-shadow: 5px, 5px, 5px, 50px, rgba(0, 0, 0,0.7);
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid blueviolet;
  padding: 1rem;
}

nav {
  background-color: rgb(73, 25, 116);
  padding: 1rem;
  display: block;
  box-shadow: 2px, 3px, black;
}

nav a {
  padding-right: 2rem;
  color: #ccc;
  text-decoration: none;
  font-weight: bolder;
}

aside {
  width: 300px;
  margin: auto;
  border: 1px solid #ccc;
  background-color: blueviolet;
  color: white;
  text-align: center;
  padding: 10px;
}

aside img {
    width: 200px;
    height: auto;
}

aside p{
    text-align: left;
}



p {
  padding: 0;
}

h1 {
    color: rgb(73, 25, 116);
}

footer {
  margin-top: 20px;
  border-top: solid 1px blueviolet;
  text-align: center;
}
