:root {
  --background-color: #8a2be2;
  --deep-gb-color: #491974;
  --active: rgb(255, 230, 0);
  --text-color: #272529;
  --text-font: "poppins", Helvetica, sans-serif;
  --box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  --neutral-black: #000000;
  --neutral-white: #ffffff;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  font-family: var(--text-font);
  line-height: 1.2rem;
}

header, main, footer, .grid {
  max-width: 840px;
  margin: 0 auto;
}

main {
  
}

main img {
  width: 150px;
  height: auto;
  border: 2px solid var(--deep-gb-color);
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

nav {
  background-color: var(--deep-gb-color);
  padding: 0.8rem;
  display: block;
  box-shadow: 2px, 3px, var(--neutral-black);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  padding: 0;
  font-weight: 300;
}

h1 {
  color: var(--deep-gb-color);
  border-bottom: solid 2px var(--deep-gb-color);
  width: 90%;
  margin: 1rem 0;
  font-size: 1.2rem;
}


nav a {
  padding: 0.5rem;
  color: var(--neutral-white);
  text-decoration: none;
  font-weight: bolder;
  display: block;
}

.active{
  color: var(--active);
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

aside {
  width: 300px;
  margin: auto;
  border: 1px solid var(--neutral-white);
  background-color: var(--background-color);
  color: var(--neutral-white);
  text-align: center;
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

aside img {
  width: 200px;
  height: auto;
}

aside p {
  text-align: left;
  width: 90%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  /* background-color: red; */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}


footer {
  border-top: solid 1px var(--deep-gb-color);
  text-align: center;
}
